@font-face {
    font-family: branko;
    src: url("brankovic.ttf");
}
.hf  {
    text-align: center;
}
.bgcolor   {
    background-color: lightslategray;
}
th {
    font-size: 24px;
    text-align: center;
}

h1  {
    font-family: "branko";
}
h2  {
    text-align: center;
}
form    {
    font-weight: bold;
}
#homebg {
    background-color: lightslategray;
}

a:visited   {
    color: red;
}

a:hover {
    font-weight: bold;
}

a:active    {
    text-decoration: none;
}

#myCarousel {
    width: 100%;
    height: auto;
    padding: 50px;
    text-align: center;
}